#congrats {
    display: none;  
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

.congrats-content {
    background-color: #fff;
    margin: 60% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    animation: fadeIn 0.3s ease-in-out;
    min-height: 20%;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.9); }
    to   { opacity: 1; transform: scale(1); }
  }

  h1 {
    text-align: center;
    color: #ff5786 ;
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  p{
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
  }

  #congrats-btn {
    position: relative;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #29abe2; 
    border-radius: 23px;
    padding: 0.7rem;
    max-width: 15rem;
    margin-left: 24%;
    margin-top: 1rem;
    z-index: 3;
  }

  .load-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .load-img {
    width: 30%;
  }


  