body {
  background-image: url(../media/img/backgrunds/blurry-background-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.logo {
  margin-left: 12%;
  margin-right: auto;
  margin-top: 6rem;
  width: 75%;
  height: auto;
}

.mom {
  margin: 3% 21%;
  position: absolute;
  display: inline-block;
  width: 60%;
  height: auto;
}

.scanner-screen {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  position: absolute;
  z-index: 10;
  top: 56%;
  left: 36%;
}

.front-btns {
  background-color: #34719d;
  padding: 2rem 1.5rem;
  border-radius: 50% 5%;
  text-align: center;
}

a, button {
  font-family: 'SourceCodeVariable'; 
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

#scanner-container {
      position: fixed;
      top: 0; left: 0;
      width: 100vw;
      height: 100vh;
      background: black;
      display: none;
      justify-content: center;
      align-items: center;
      z-index: 10;
    }

    #scanner-container video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
