/* Stage 2 spil interaktive del   */
.waste-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.waste-icon {
  position: absolute;
  width: 90px;
  pointer-events: auto; /* så de kan klikkes på */ 
  animation: upDown 2.5s ease-in-out infinite;
  z-index: 200;
  opacity: 0;
  animation: fadeIn 1.5s ease forwards, upDown 2.5s ease-in-out infinite;
} 

/* svævende animation, op og ned */
@keyframes upDown {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-30px); }
  100% { transform: translateY(0); }
}

/* fade-in animation */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Alle disse keyframes sikrer en smooth buet animation af affaldsstofferne når de 'udskilles'  */
@keyframes slideOut {
  0%    { transform: translate(220px, calc(15vh - 40px)); opacity: 0.7; }
  5%    { transform: translate(200px, calc(15vh - 80px)); }
  10%   { transform: translate(180px, calc(15vh - 130px)); }
  15%   { transform: translate(160px, calc(15vh - 180px)); }
  20%   { transform: translate(140px, calc(15vh - 240px)); }
  25%   { transform: translate(120px, calc(15vh - 300px)); }
  30%   { transform: translate(100px, calc(15vh - 360px)); }
  35%   { transform: translate(85px,  calc(15vh - 420px)); }
  40%   { transform: translate(70px,  calc(15vh - 480px)); }
  45%   { transform: translate(60px,  calc(15vh - 540px)); }
  50%   { transform: translate(55px,  calc(15vh - 600px)); }
  55%   { transform: translate(65px,  calc(15vh - 660px)); }
  60%   { transform: translate(80px,  calc(15vh - 720px)); }
  65%   { transform: translate(100px, calc(15vh - 770px)); }
  70%   { transform: translate(120px, calc(15vh - 820px)); }
  75%   { transform: translate(140px, calc(15vh - 860px)); }
  80%   { transform: translate(155px, calc(15vh - 900px)); }
  85%   { transform: translate(165px, calc(15vh - 940px)); }
  90%   { transform: translate(175px, calc(15vh - 980px)); }
  95%   { transform: translate(185px, calc(15vh - 1015px)); }
  100%  { transform: translate(190px, calc(15vh - 1050px)); opacity: 0.7; }
}