#virus-container {
  position: absolute;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none; /* so clicks go through except for icons */
  z-index: 1200;
}

.virus-icon {
    width: 90px;
    height: auto;
    pointer-events: auto;
    z-index: 1200;
}


