body {
    background-image:url(../media/img/backgrunds/background-end-game.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    min-height:1600px;
    
}

.overskrifter{
    margin: 10vh 0 5vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 10%;
}

.home {
    height: 5em; 
    width: auto;
    margin: 1rem 6rem 3rem 1rem;
 }
 
 .blue-cornors {
     display: flex;
     justify-content: space-between;
 }

.baby-scores{
    display: flex;
    margin-bottom: 10vh;
    column-gap: 3rem;
}

.baby-face {
width: 40vw;
/* height: auto;
object-fit: none; */
}

.baby-face img {    
    padding-left: 20%;
    width: 100%;
    height: auto;

}

.scores{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.resultater img{
    /* width: 20%; */
}

.prog-doughnuts{
border-right: solid #fff 0.5em;
margin-right: 1rem; 
height: 60%;
width: auto;
}

.resultater{
    display: flex;
    flex-direction: row;
    padding-bottom: 1.5rem;
    width: 25rem;
}

.ikon-tekst{
    border-bottom: solid #fff 0.5rem;
}

.ikon-tekst img{
   position: relative;
    left: 80%;
}

.bundtekst{
    text-align: center;
    margin: 0 5rem 3rem 5rem;
    border-bottom: solid #fff 0.5rem;
    
}

.videre-knap{
    position: relative;
    left: 80%;
}

.videre-knap img{
    width: 10%;
    margin-bottom: 2rem;
}