body {
  background-image: url(../media/img/backgrunds/background-end-game.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  min-height: 1600px;
}

.overskrifter {
  margin: 10vh 0 5vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  width: 85%;
  text-align: center;
}

h2 {
  font-size: 2rem;
  margin-bottom: 5%;
  width: 85%;
  text-align: center;
}

p {
  font-size: 1.5rem;
}

.home {
  height: 5em;
  width: auto;
  margin: 1rem 0 0 0;
}

.home-btn {
  width: 25%;
  height: 8%;
  background-color: #047381;
  border: 5px solid #014555;
  border-radius: 300px 300px 0 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  justify-content: center;
  align-items: center;
}

.blue-cornors {
  display: flex;
  justify-content: space-between;
}

.baby-scores {
  display: flex;
  margin-bottom: 6rem;
  justify-content: space-around;
  align-items: center;
}

.baby-face {
  width: 33vw;
}

.baby-face img {
  width: 100%;
  height: auto;
  margin-left: 2rem;
}

.scores {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.prog-doughnuts {
  opacity: 0;
  border-right: solid #fff 0.3em;
  margin-right: 1rem;
  height: 10rem;
  width: auto;
}

.resultater {
  display: flex;
  flex-direction: row;
  padding-bottom: 1.5rem;
  width: 35rem;
  margin-right: 3rem;
}

.ikon-tekst {
  border-bottom: solid #fff 0.3rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  width: 30rem;
}

.ikon-tekst img {
  position: relative;
  left: 80%;
  height: 5rem;
  width: 5rem;
  margin-top: 0.5rem;
}

.bundtekst {
  text-align: center;
  margin: 0 5rem 3rem 5rem;
  border-bottom: solid #fff 0.3rem;
  padding-bottom: 3px;
  margin-bottom: 3.5rem;
}

h3 {
  text-align: center;
  font-size: 2rem;
}

.videre-knap {
  position: relative;
  left: 80%;
}

.videre-knap img {
  width: 10%;
  margin-bottom: 2rem;
}

.btn-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.btn {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  background-color: #1cb7cd;
  width: 23rem;
  padding: 1rem;
  text-align: center;
  border-radius: 50px;
}

.progress-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 4.75rem;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  left: 38%;
  top: 27%;
}

.circle-progress {
  width: 8rem;
  height: 8rem;
  text-align: center;
  font-family: sans-serif;
}

svg {
  width: 100%;
  height: 100%;
}

.bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3;
}

.progress {
  fill: none;
  stroke: #dd7ac8; 
  stroke-width: 3;
  stroke-dasharray: 100; 
  stroke-dashoffset: 100; 
  stroke-linecap: round;
  transition: stroke-dasharray 0.5s ease;
}

.percentage {
  fill: #ffffff;
  font-size: 0.5rem;
  text-anchor: middle;
  dominant-baseline: middle;
}
