body {
    background-image:url(../media/img/backgrunds/background-placenta.png);
    background-repeat: no-repeat;    
    background-size: contain;
    background-position: center top;
    top: 0;
} 


p,ul {
    font-size: 1.1rem;
    width: 60%;
    display: inline;
    unicode-bidi: isolate;
    float: right;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
}

.container-1,container-2,container-3,container-4 {  
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding-left: 0%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: flex-start;

}

.container-1, p,ul {
    font-size: 1.1rem;
    width: 60%;
    display: inline;
    unicode-bidi: isolate;
    float: right;
    padding left: 0;
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    
}

.container-2 {
    font-size: 1.1rem;
    width: 60%;
    display: inline;
    padding left: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;

}

.container-3 {
    font-size: 1.1rem;
    width: 60%;
    display: inline;
    padding left: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;

}

.container-4 {
    font-size: 1.1rem;
    width: 60%;
    display: inline;
    padding left: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;

}

section.infograph-topics.food {
    padding-top: 0%;
}
.infograph-topics {
    
    padding-top: 0%;
    padding-left: 2rem;
    display: flex;
    justify-content: start;
    align-items: center;

}

.moderkage {
    padding-top: 18rem;
    padding-left: 0%;
}

.food {
    padding-top: 10.5rem;


}

.waste {
    padding-top: 2rem;
    
}

.home-btn {
    position: absolute;
    z-index: 10;
    top: 0;
}

.spil-btn {
    font-size: 2.5rem;
    background-color: #1cb7cd;
    width: 13rem;
    padding: 1rem;
    text-align: center;
    border-radius: 50px;
    
    position: absolute;
    right: 3rem;
    bottom: 8rem;
}