img{
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    height: auto;
    z-index: 2;
}

.video-container{
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 80vh;
    background: black;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#video-container video {
    width: 100%;
     height: 100%;
    object-fit: cover;
}
