* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* max-width: 4000px;
    max-height: 3612px; */
    overflow-x: hidden;
    overflow-y: hidden;
    min-height:1600px;
}

.home-btn {
    width: 17%;
    height: 12%;
    background-color: #047381;
    border: 5px solid #014555;
    border-radius: 0 0 150% 0;
    /* box-shadow: 10px 10px 5px #rgba(0, 0, 0, 0.6); */

    position: absolute;
    z-index: 10;
}

.home {
   height: 5em; 
   width: auto;
   margin: 1rem 6rem 3rem 1rem;
}

.blue-cornors {
    display: flex;
    justify-content: space-between;
}

.blod-baner {
    width: 100%;
    height: auto;

    position: absolute;
    display: inline-block;
}

