* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1000px;
    max-height: 1600px;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height:1600px;
}

a {
    text-decoration: none;
    color: white;
}

.home-btn {
    width: 17%;
    height: 12%;
    background-color: #047381;
    border: 5px solid #014555;
    border-radius: 0 0 150% 0;
    position: absolute;
    z-index: 1001;
}

.home {
   height: 5em; 
   width: auto;
   margin: 1rem 6rem 3rem 1rem;
}

.blue-cornors {
    display: flex;
    justify-content: space-between;
}

.blod-baner {
    width: 100%;
    height: auto;

    position: absolute;
    display: inline-block;
}





